extends layout

block content
  h1= title
  link(href='/css/style.css', rel='stylesheet')
  p Welcome to #{title}

  ul#things
    li
      a(href='broadcaster') Start a stream!
    li
      a(href='client') listen to a stream!
