extends layout

block content
  h1= title
  link(href='/public/stylesheets/style.css', rel='stylesheet')
  p Welcome to #{title}



  ul#cl
    each c in servers
      li
        a(href="client?id=" + c) Listen to #{c}

  ul#things
    li
      a(href='broadcaster') Start a stream!

    //li
    //  a(href='client') listen to a stream!






