doctype html
html
  head
    include ../public/html/head.html
    title= title
    //link(href='/stylesheets/style.css', rel='stylesheet')
  body
    include ../public/html/navbar.html
    block content
